*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  letter-spacing: 1px;
}

.container {
  padding: 4rem 8rem;
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container h1 {
  margin-bottom: 4rem;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
  margin-bottom: 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.main-content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
  width: 50%;
  margin-right: 2rem;
  -webkit-box-shadow: 0 15px 30px 10px #d1cfcf;
          box-shadow: 0 15px 30px 10px #d1cfcf;
  border-radius: 2rem;
}

.main-content-left .start {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  background-color: red;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  z-index: 1;
  top: 34%;
  left: 48%;
}

.main-content-left .start:hover {
  cursor: pointer;
}

.main-content-left h2 {
  font-size: 10rem;
  margin: 0 auto;
}

.main-content-left span {
  font-size: 1rem;
  margin-left: -2rem;
}

.main-content-right {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 50%;
  padding: 2rem;
  -webkit-box-shadow: 0 15px 30px 10px #d1cfcf;
          box-shadow: 0 15px 30px 10px #d1cfcf;
  border-radius: 2rem;
}

.main-content-right .list {
  height: 16rem;
  overflow-y: auto;
}

.main-content-right li {
  margin-left: 1rem;
}

.main-content-right form {
  display: inline-block;
}

.main-content-right .clear {
  display: none;
}

.anim-progress {
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-bottom: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 2rem;
  -webkit-box-shadow: 0 15px 30px 10px #d1cfcf;
          box-shadow: 0 15px 30px 10px #d1cfcf;
}

.anim-progress .progress {
  height: 10rem;
  width: 100%;
  background-color: red;
  will-change: transform;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.animate-progress {
  -webkit-animation: move 1500s ease;
          animation: move 1500s ease;
}

input, button, input:active {
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 2rem;
  border: 1px solid #d1cfcf;
  outline: none;
}

button {
  cursor: pointer;
}

/* Animations */
@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes move {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media only screen and (max-width: 1200px) {
  .main-content-left .start {
    left: 47%;
  }
}

@media only screen and (max-width: 944px) {
  .container {
    padding: 2rem;
    height: 100%;
  }
}

@media only screen and (max-width: 752px) {
  .main-content-left .start {
    top: 40%;
    left: 46%;
  }
  .main-content-right .list {
    height: 8rem;
  }
}

@media only screen and (max-width: 727px) {
  .main-content-left .start {
    top: 40%;
  }
}

@media only screen and (max-width: 621px) {
  .container h1 {
    margin-bottom: 2rem;
  }
  .main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .main-content-left, .main-content-right {
    margin-bottom: 2rem;
    width: 100%;
  }
  .main-content-right .list {
    height: auto;
  }
  .main-content-left {
    margin-right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-content-left .start {
    top: 56%;
    left: 47.5%;
  }
}

@media only screen and (max-width: 418px) {
  .main-content-left .start {
    left: 46.5%;
  }
}

@media only screen and (min-width: 1648px) {
  .main-content-left .start {
    left: 48.5%;
  }
}
/*# sourceMappingURL=style.css.map */